.navbar {
    height: 70px;            
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:rgba(0, 60, 70, 0.78);
    padding: 0 7%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08); 
    transition:0.5s;
  }
  
  .logo {
    height: 60px;                 
    width: auto;
    cursor: pointer;
  }
  
  ul {
    flex: 1;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: inline-block;
    margin: 0 20px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background:rgba(16, 19, 20, 0.83);
    padding: 6px 12px;
    border-radius: 20px;
  }
  
  .search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 6x;
    width: 200px; 
    font-size:18px;
    max-width:250px; 
    color:#fff
  }
    
  .search-box input::placeholder{ 
    color:#fff;
  }  

  .search-box img{ 
    width:20px; 
    cursor:pointer;
  }

  .toggle-icon {
    height: 28px;
    width: 28px;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .dark .navbar{ 
    background:#000; 
    color:#fff;
  } 

  .dark .search-box{ 
    background:#fff;
  }
  .dark .search-box input{ 
    background:#222;
  }
  .dark .search-box input::placeholder{ 
    background:#222;
  }