.app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.left-section {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f7fb;
}


.right-section {
  width: 50%;
  background-size: cover;
  background-position: center;
}
